.whatto{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 250px;
}

.expectgrid{
    display: flex;
flex-direction: column;
align-items: flex-start;
align-self: stretch;
}

.eventcard{
    width: 90%;
    display: flex;
align-items: flex-start;
gap: 60px;
justify-content: center;
}

.beige{
    display: flex;
width: 589px;
flex-direction: column;
align-items: flex-start;
gap: 10px;
background-image: url("../assets/beige.svg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
height: 446px;
transition: all 300ms ease;
align-items: center;
justify-content: center;
}
.beige:hover{
    transform: rotate(-10deg);
}

.beige h3{
    color: #1E1E1E;
leading-trim: both;
text-edge: cap;
font-family: "GC Begia Demo";
font-size: 49.18px;
font-style: normal;
font-weight: 300;
line-height: normal;
}

.beige p{
    color: #1E1E1E;
leading-trim: both;
text-edge: cap;
font-family: "Darker Grotesque";
font-size: 25.825px;
font-style: normal;
margin-right: 45px;
font-weight: 400;
line-height: 78.336%; /* 20.231px */
}

.beigetxt{
    width: 85%;
}

.greycard{
        display: flex;
width: 589px;
flex-direction: column;
align-items: flex-start;
gap: 10px;
background-image: url("../assets/grey.svg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
height: 446px;
align-items: center;
justify-content: center;
transition: all 300ms ease;
}
.greycard:hover{
    transform: rotate(10deg);
}
.greycard h3{
    color: #F0E1CE;
leading-trim: both;
text-edge: cap;
font-family: "GC Begia Demo";
font-size: 49.18px;
font-style: normal;
font-weight: 300;
line-height: normal;
}

.detpair{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.detpair h6{
    color: #F0E1CE;
leading-trim: both;
text-edge: cap;
font-family: "Darker Grotesque";
font-size: 25.825px;
font-style: normal;
font-weight: 600;
line-height: 78.336%; /* 20.231px */
}

.detpair p{
    color: #F0E1CE;
leading-trim: both;
text-edge: cap;
font-family: "Darker Grotesque";
font-size: 34.83px;
font-style: normal;
font-weight: 400;
line-height: 78.336%;
}
.gretxt{
    display: flex;
width: 78%;
flex-direction: column;
align-items: flex-start;
gap: 39px;
}


@media (min-width: 600px) and (max-width: 1024px){
.exhertxt{
    top: 136px;
    position: relative;
}
.whatto{
    margin-top: 300px;
}
.exptxt {
    padding: 25px 0 25px 25px !important;
}
.exptxtl {
    padding: 25px 25px 25px 0 !important;
}
.exdark img{
    width: 42vw !important;
}
 .exlight img{
    width: 42vw !important;
}
.exptxt h4 , .exptxtl h4{
    font-size: 33px !important;
}
.exptxt p , .exptxtl p{
        font-size: 18.825px !important;;
    width: 75% !important;

}
.exdark , .exlight{
    height: 140px !important;
}
.eventcard {
    gap: 30px;
}
.beige h3 , .greycard h3{
    font-size: 35px;
}
.beige p {
    font-size: 20px;
}
.detpair p{
    font-size: 26px;
}
.beige , .greycard{
    height: 450px !important;
}

}
@media (min-width: 300px) and (max-width: 600px){
    .exhertxt{
        position: relative;
        top: 100px;
    }
    .whatto{
        gap: 50px;
    }
    .exptxt{
        padding: 20px !important;
                align-items: center !important;


    }
    .exptxtl{
        padding: 20px !important;
        align-items: center !important;
    }
    .exdark , .exlight{
        flex-direction: column !important;
        height: auto !important;
    }
    .exptxtl h4 , .exptxt h4{
        font-size: 35px !important;
        text-align: center !important;
    }
    .exptxtl p , .exptxt p{
        font-size: 22px !important;
        text-align: center !important;
    }
    .eventcard{
        flex-direction: column;
    }
    .beige , .greycard{
        width: 100% !important;
        height: 345px !important;
    }
    .gretxt{
        gap: 25px;
    }
    .detpair h6{
        font-size: 21px;
    }
    .detpair p{
        font-size: 25px;
    }
}