*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url("../assets/bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    overflow-x: hidden;

}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
align-items: center;
gap: 150px;
/* border: 1px solid #F0E1CE; */
position: relative;
height: 6000px;
}


.burgermenu {
    position: fixed;
    top: 0;
    left: 0;

    transform: translateX(-100%);
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 100000;
   width: 60%;
    background-color: #0F0F0F;
    display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
height: 100vh;
}

.burgermenu.open {
    transform: translateX(0);
}

.first{
    display: flex;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}


.hero{
    display: flex;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    height: 72vh;
}

.heroimage{
    width: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid #F0E1CE;
    animation: heroscale 1s ease-out forwards 1.5s;
}

.heroinner{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid #F0E1CE;
    height: 100%;
    overflow: hidden;
background: #000000;
position: relative;
    align-items: center;
}

.frame{
    width: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
border: 1px solid #F0E1CE;
animation: heroimage 1s ease-out forwards;
}

.frame img{
object-fit: cover;
width: 100%;
    height: 100%;
}
.heroinner canvas,
.heroinner iframe {
    background: transparent !important;
}

.heroimage2{
    scale:0.8 ;
}

.herobtn{
      position: absolute;
    top: 25px;
    z-index: 100;

}
.heroframe{
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.herobtn2{
      position: absolute;
    bottom: 25px;
    z-index: 100;

}


@keyframes heroscale {
    0%{
        width: 0%;
    }
    100%{
        width: 58%;
    }
}


@keyframes heroimage {
    0%{
        width: 0%;
    }
    100%{
        width: 20%;
    }
}

.imageframe{
     display: flex;
    justify-content: center;
    align-items: center;
border: 1px solid #F0E1CE;
width: 100%;
height: 100%;
overflow: hidden;
}
.imageframe img {
    width: auto;
    height: 200%; 
    flex-shrink: 0;
    object-fit: cover;
}
.imageframe {
    display: flex;
    align-items: flex-start; 
}

.imageframe img:nth-child(odd) {
    animation: scroll-up 10s linear infinite;
    transform-origin: bottom;
    margin-top: auto;
    width: 20%; 
}

.imageframe img:nth-child(even) {
    animation: scroll-down 10s linear infinite;
    transform-origin: top;
    margin-top: 0; 
    width: 20%;
}

@keyframes scroll-up {
    0%   { transform: translateY(0%); }
    100% { transform: translateY(-50%); }
}

@keyframes scroll-down {
    0%   { transform: translateY(-50%); }
    100% { transform: translateY(0%); }
}

.section2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.textcont{
    width: 90%;
    text-align: center;
}

.textcont{
    color: #F0E1CE;
leading-trim: both;
text-edge: cap;
font-family: "GC Begia Demo";
font-size: 4.75vw;
font-style: normal;
font-weight: 300;
line-height: 116%;
}

.textcont h1 span{
    display: inline-block;
   
}