*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section3r{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}
.firstrit{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

}
.ritherotxt{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 15%;
    left: 4%;
}
.ritherotxt h1{
    color: #F0E1CE;
leading-trim: both;
text-edge: cap;
font-family: "GC Begia Demo";
font-size: 134.158px;
font-style: normal;
font-weight: 300;
line-height: 97.598%; /* 130.935px */
text-transform: uppercase;
}

.ritualhead{
    color: #F0E1CE;
leading-trim: both;
text-edge: cap;
font-family: "GC Begia Demo";
font-size: 134.158px;
font-style: normal;
font-weight: 300;
line-height: 86.37%; /* 115.872px */
text-align: left;
}

.ritherotxt p{
   color: #F0E1CE;
leading-trim: both;
text-edge: cap;
font-family: "Darker Grotesque";
font-size: 31.18px;
font-style: normal;
font-weight: 300;
line-height: 84.086%; /* 26.218px */
}

.ritcat{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.categr{
 display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    background-image: url("../assets/makeup.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: sticky;
    z-index: 1;
    top: 0;
    padding: 30px ;
    overflow: hidden;
    gap: 20px;
    flex-direction: column;
    animation: expandIn 3s linear both;
    animation-timeline: view();
    animation-range: entry 0% entry 50%;
}

.categr h1 {
color: #F0E1CE;
text-align: center;
leading-trim: both;
text-edge: cap;
font-family: "GC Begia Demo";
font-size: 90px;
font-style: normal;
font-weight: 300;
line-height: 100%; /* 104.4px */
letter-spacing: -6.3px;
}
.categsr h1{
color: #1E1E1E;
text-align: center;
leading-trim: both;
text-edge: cap;
font-family: "GC Begia Demo";
font-size: 90px;
font-style: normal;
font-weight: 300;
line-height: 100%; /* 104.4px */
letter-spacing: -6.3px;
}
.categr p {
color: #F0E1CE;
leading-trim: both;
text-edge: cap;
font-family: "Darker Grotesque";
font-size: 31.18px;
font-style: normal;
font-weight: 300;
line-height: 84.086%; /* 26.218px */
}
.categsr p{
color: #1E1E1E;
leading-trim: both;
text-edge: cap;
font-family: "Darker Grotesque";
font-size: 31.18px;
font-style: normal;
font-weight: 300;
line-height: 84.086%; /* 26.218px */
}
.categsr {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    flex-direction: column;
    padding: 30px ;

    background-image: url("../assets/skinc.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: sticky;
    top: 0;
    z-index: 2;
    overflow: hidden;
    margin-left: auto;
    gap: 20px;

    animation: expandInRight 3s linear both, categsFadeIn linear both;
    animation-timeline: view(), view();
    animation-range: entry 0% entry 50%, entry 0% entry 40%;
}

@keyframes expandInRight {
    from {
        width: 0%;
        padding: 0;
        margin-left: 100%;
    }
    to {
        width: 100%;
        padding: 50px 25px;
        margin-left: 0%;
    }
}


.categrbtn{
    outline: none;
    background: none;
    cursor: pointer;
    display: flex;
    padding: 11px 21.966px;
    flex-direction: column;
    align-items: flex-start;
    gap: 13.729px;
    border-radius: 48.051px;
    border: 1.373px solid #F0E1CE;
}
.blackarrowr{
        outline: none;
    background: none;
    cursor: pointer;
    display: flex;
    padding: 11px 21.966px;
    flex-direction: column;
    align-items: flex-start;
    gap: 13.729px;
    border-radius: 48.051px;
    border: 1.373px solid #1E1E1E;
}

.ritual h1{
color: #F0E1CE;
text-align: center;
leading-trim: both;
text-edge: cap;
font-family: "GC Begia Demo";
font-size: 90px;
font-style: normal;
font-weight: 300;
line-height: 116%; /* 104.4px */
letter-spacing: -6.3px;
}

.ritualtit{
    display: flex;
flex-direction: column;
align-items: center;
gap: 30px;
}

.section3r h2{
    color: #F0E1CE;
text-align: center;
leading-trim: both;
text-edge: cap;
font-family: "GC Begia Demo";
font-size: 64px;
font-style: normal;
font-weight: 300;
line-height: 116%; /* 74.24px */
letter-spacing: -1.92px;
margin-top: 30px;
}

.prod1{
    display: flex;
width: 246px;
transform: rotate(-13.476deg);
flex-direction: column;
align-items: center;
gap: 4px;
border: 1px solid #F0E1CE;
background: #1E1E1E;
    transition: transform 0.3s ease;

}

.prod2{
        display: flex;
width: 246px;
transform: rotate(-4.174deg);
flex-direction: column;
align-items: center;
gap: 4px;
border: 1px solid #F0E1CE;
background: #1E1E1E;
    transition: transform 0.3s ease;
}

.prod3{
        display: flex;
width: 246px;
transform: rotate(15.1deg);
flex-direction: column;
align-items: center;
gap: 4px;
border: 1px solid #F0E1CE;
background: #1E1E1E;
    transition: transform 0.3s ease;
}

.productsused{
    display: flex;
align-items: center;
gap: 105px;
}
.prod1:hover{
    transform: rotate(0) scale(1.1);
    background-color: #F0E1CE;
border: 1px solid #1E1E1E;
}
.prod1:hover .prodtitle{
    color: #1E1E1E;
}
.prod2:hover .prodtitle{
    color: #1E1E1E;
}
.prod3:hover .prodtitle{
    color: #1E1E1E;
}
.prod2:hover{
    transform: rotate(0) scale(1.1);
    background-color: #F0E1CE;
border: 1px solid #1E1E1E;

}
.prod3:hover{
    transform: rotate(0) scale(1.1);
    background-color: #F0E1CE;
border: 1px solid #1E1E1E;

}
.prod1:hover .titleprod{
border: 1px solid #1E1E1E;

}
.prod2:hover .titleprod{
border: 1px solid #1E1E1E;

}
.prod3:hover .titleprod{
border: 1px solid #1E1E1E;

}
.section3r p{
    color: #F0E1CE;
text-align: center;
leading-trim: both;
text-edge: cap;
font-family: "Darker Grotesque";
font-size: 31.18px;
font-style: normal;
font-weight: 300;
line-height: 84.086%; /* 26.218px */
}
.togglesection{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    flex-direction: column;
    width: 100%;
}
.toggle{
    display: flex;
width: 411px;
padding: 7px 10px;
align-items: flex-start;
gap: 10px;
border: 1px solid #F0E1CE;
background: #1E1E1E;
}

.activebtn{
    outline: none;
    background: none;
    cursor: pointer;
    border-radius: 0 !important;
    display: flex;
    height: 56px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    background: #F0E1CE;
    color: #1E1E1E;
text-align: center;
leading-trim: both;
text-edge: cap;
font-family: "GC Begia Demo";
font-size: 36.607px;
font-style: normal;
font-weight: 300;
line-height: 116%; /* 42.464px */
letter-spacing: -2.562px;
}

.unactivebtn{
   outline: none;
    background: none;
    cursor: pointer;
    display: flex;
    display: flex;
    height: 56px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    border-radius: 0 !important;

   border: 1px solid #F0E1CE;
    color: #F0E1CE;
text-align: center;
leading-trim: both;
text-edge: cap;
font-family: "GC Begia Demo";
font-size: 36.607px;
font-style: normal;
font-weight: 300;
line-height: 116%; /* 42.464px */
letter-spacing: -2.562px;}

.build{
    display: flex;
width: 100%;
padding-left: 86px;
justify-content: space-between;
align-items: flex-start;
height: 74vh;
}

.buildtxt{
    display: flex;
width: 21%;
flex-direction: column;
align-items: flex-start;
gap: 30px;
height: 100%;
flex-shrink: 0;

}
.your{
    align-self: flex-end;
}

.buildtxt h2{
    color: #F0E1CE;
leading-trim: both;
text-edge: cap;
font-family: "GC Begia Demo";
font-size: 60px;
font-style: normal;
font-weight: 300;
line-height: 96%; /* 75.84px */
letter-spacing: -5.53px;
}

.buildtxt p{
    color: #F0E1CE;
leading-trim: both;
text-edge: cap;
font-family: "Darker Grotesque";
font-size: 28.07px;
font-style: normal;
font-weight: 300;
line-height: 75%; /* 21.052px */
}

.buildsteps{
    display: flex;
    width: 70%;
    height: 100%;
}
.buildtxt img{
    height: 60%;
}
.ritheroimg{
    width: 100%;
    height: 72vh;
}

@media (min-width: 600px) and (max-width: 1024px){
    .ritherotxt h1{
        font-size: 95px;

    }

    .ritheroimg{
        height: 56vh;
    }
    .categsr h1 , .categr h1{
        text-align: left;
        font-size: 80px;
        line-height: 85%;
    }
    .categsr p , .categr p{
        font-size: 26px;
    }
    .productsused{
        gap: 65px;
    }
    .prod1 , .prod2 , .prod3{
        width: 210px;
    }
    .section3r{
        gap: 45px;
    }
    .build{
        padding: 20px;
    }
    .buildtxt img {
    width: 100%;
    height: auto;
}

}

@media (min-width: 300px) and (max-width: 600px){
    .ritherotxt h1{
        font-size: 75px;
    }
    .ritherotxt p{
        font-size: 20px;
    }
    .ritheroimg{
        height: 42vh;
    }
    .ritcat{
        flex-direction: column;
    }
    .categsr , .categr{
        margin: 0;
        padding: 25px 15px;
    }
    .categr h1 , .categsr h1 {
    text-align: left;
 
    font-size: 73px;
    
    line-height: 91%;
    letter-spacing: -5.3px;
}

.productsused {
    display: flex;
    align-items: center;
    gap: 61px;
    flex-direction: column;
}
.prod1 , .prod2 , .prod3{
    width: 266px;
}
.prodimgc {
    width: 36vw;}

    .build{
        padding-left: 15px;
        flex-direction: column;
        height: auto;
        gap: 40px;
    }
    .buildtxt{
        width: 100%;
        align-items: center;
    }
    .buildsteps{
        width: 100%;
        flex-direction: column;
    }
    .buildtxt img{
        display: none;
    }
}