*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.burgerlink.active{
    display: flex;
padding: 35px 50px 35px 51px;
justify-content: space-between;
align-items: center;
align-self: stretch;
width: 100%;
border-bottom: 1px solid #F0E1CE;
background: #F0E1CE;
}

.burgerlink.active h4{
    color: #0F0F0F;
    leading-trim: both;
    text-edge: cap;
    font-family: "Darker Grotesque";
    font-size: 25.825px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.burgerlink.active h1{
    color: #0F0F0F;
text-align: center;
  font-family: "GC_Begia_Demo", sans-serif;

font-size: 49.18px;
font-style: normal;
font-weight: 300;
line-height: normal;
}

.burgerlink {
  transition: all 0.3s ease;
}

.burgerlink.active {
  background: #e9d8b5;
}

.burgerlink{
    display: flex;
padding: 35px 50px 35px 51px;
justify-content: space-between;
align-items: center;
align-self: stretch;
width: 100%;
background: #0F0F0F;

border-bottom: 1px solid #F0E1CE;

}

.burgerlink h4{
    color: #F0E1CE;
    leading-trim: both;
    text-edge: cap;
    font-family: "Darker Grotesque";
    font-size: 25.825px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.burgerlink h1{
    color: #F0E1CE;
text-align: center;
  font-family: "GC_Begia_Demo", sans-serif;

font-size: 49.18px;
font-style: normal;
font-weight: 300;
line-height: normal;
}

.burgerlink {
  transition: all 0.3s ease;
}

.burgtxt{
    display: flex;
    gap: 10px;
}

button{
    border: 1.373px solid #F0E1CE;
}

button.active{
    border: 1.373px solid #0F0F0F;

}
.burgerlink button svg {
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.burgerlink:hover button svg {
    transform: translateX(8px);
}

.burgerlink:hover{
background: rgba(240, 225, 206, 0.19);
}

.burgerlink:hover h4{
    color: #F0E1CE;
}

.burgerlink:hover h1{
    color: #F0E1CE;
}