*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav{
    display: flex;
padding: 15px 35px;
align-items: center;
justify-content: space-between;
align-self: stretch;
background: transparent;
backdrop-filter: blur(10px);
position: fixed;
width: 100%;
z-index: 9999999999;
}

.menu-btn{
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    display: flex;
padding: 16.475px 21.966px;
flex-direction: column;
align-items: center;
justify-content: center;
border-radius: 48.051px;
border: 1.373px solid #F0E1CE;
}

.menu-btn svg {
  overflow: visible;
}

.line {
  stroke: #F0E1CE;
  stroke-width: 1.5;
  stroke-linecap: round;
  transition: transform 0.3s ease;
  transform-origin: center;
}


.menu-btn:hover .l1 {
  transform: rotate(90deg) translateY(-8px);
}

.menu-btn:hover .l2 {
  transform: rotate(90deg);
}

.menu-btn:hover .l3 {
  transform: rotate(90deg) translateY(8px);
}
.menu-btn:hover .l1 { transition-delay: 0s; }
.menu-btn:hover .l2 { transition-delay: 0.05s; }
.menu-btn:hover .l3 { transition-delay: 0.1s; }

.logo{
  width: 4vw;
}

.logos{
  width: 10vw;
}

@media (min-width: 600px) and (max-width: 1024px){
  .logo{
    width: 8vw;
  }
  .logos{
    width: 18vw;
  }


}

@media (min-width: 300px) and (max-width: 600px){
    .logo{
        width: 10vw;
    }
    .logos{
        width: 23vw;
    }
    .menu-btn{
      scale: 0.7;
    }
    .nav{
      padding: 15px;
    }
}