*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.origin {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 26.237px;
    width: 270px;
    min-width: 180px;   
    flex-shrink: 0;       
    padding-bottom: 25px;
    scroll-snap-align: start;
}

.origin2 {
    display: flex;
    padding-top: 50px;
    flex-direction: column;
    align-items: flex-start;
    gap: 26.237px;
    padding-bottom: 25px;
    min-width: 180px;
    width: 270px;        
    flex-shrink: 0;        
    scroll-snap-align: start;
}

.origin h1 , .origin2 h1{
    color: #F0E1CE;
font-family:  "Noto Serif Display";
font-size: 70px;
font-style: normal;
font-weight: 400;
line-height: 98%; /* 102.85px */
letter-spacing: -7.346px;
}

.origcontimg {
        width: 87%;
    height: 234px;
    overflow: hidden;
}

.origcontimg img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: grayscale(0%);
    transition: filter 0.5s cubic-bezier(0.4, 0, 0.2, 1),
                transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.origcontimg:hover img {
    filter: grayscale(100%);
    transform: scale(1.05);
}


.origin h3 , .origin2 h3{
color: #F0E1CE;
leading-trim: both;
text-edge: cap;
font-family: "GC Begia Demo";
font-size: 39px;
font-style: normal;
font-weight: 300;
line-height: 98%; /* 46.283px */
letter-spacing: -3.306px;
}

.origin h5 , .origin2 h5{
    color: #F0E1CE;
leading-trim: both;
text-edge: cap;
font-family: "Darker Grotesque";
font-size: 20px;
font-style: normal;
font-weight: 300;
line-height: 116%; /* 41.84px */
}

.origin span , .origin2 span{
    color: #F0E1CE;
leading-trim: both;
text-edge: cap;
font-family: "Darker Grotesque";
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 116%;
}

.origin p , .origin2 p{
    color: #F0E1CE;
leading-trim: both;
text-edge: cap;
font-family: "Darker Grotesque";
font-size: 19px;
font-style: normal;
font-weight: 300;
line-height: 75%; /* 27.052px */
}

.origtext{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

@media (min-width: 600px) and (max-width: 1024px){
  .origin ,.origin2{
    width: 200px;
  }
.origcontimg{
    width: 100%;
}

}

@media (min-width: 300px) and (max-width: 600px) {
    .origin , .origin2{
        width: 180px;
    }
    .origin h1, .origin2 h1{
        font-size: 40px;
        letter-spacing: -4px;
    }
    .origcontimg {
    width: 100%;
    height: 176px;
    overflow: hidden;
}
.origin h3, .origin2 h3{
    font-size: 39px;
    letter-spacing: -3.306px;
}
}