
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 12px;
}


::-webkit-scrollbar-track {
  background: #111; 
}


::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #FFE4A6 0%, rgba(255, 228, 166, 0.34) 50%, #FFE4A6 100%);
  border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #fef8ea 0%, rgba(255, 228, 166, 0.34) 50%, #fef8ea 100%);
}

@font-face {
  font-family: "GC_Begia_Demo";
  src: url("./assets/fonts/GC_Begia_Demo.ttf") format("truetype");
}

a{
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}